  
  :root{
    /* COLORES MIOS */
    --title-color: #fff;
    --negrita: #000;
  }
  /* Todas las letras en blanco */
  *{
      color: var(--title-color);
  }
  /* Al pulsar a un botón, baja hasta la sección */
  html{
      scroll-behavior: smooth;
  }
  
  .intro{
      padding: 25px;
  
  }
  
  .tipo_1,.tipo_2,.tipo_3 h2{
      padding: 25px;
  }
  /* body {
    background-color: #3745c2;
    margin: 200px 40%;
  } */

  form {
    background-color: #4654e1;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  button {
    width: 50px;
    height: 48px;
    padding: 8px 4;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    border: 2px solid #4BFFA5;
    background: 4654e1;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .ver-video video{
    max-width: 8000px;
      height: auto;
      width: 80%;
      border-radius: 8px;
    margin: 10px;
  }

  .container_interactivo {

    background: rgba(255, 255, 255, .15);
    border-radius: 20px;
  
    padding: 2rem 2rem;
    margin: 10px;
  
    display: grid;
    grid-template-columns: 2 1fr;
    align-items: center;
    gap: 1.5rem;
  
    min-width: 300px;
    
  }
  .barra_navegacion .path1{
    position: absolute;
    width: 40;
  }
  @media screen and (min-width: 600px) {
    .container2 {
      position: relative;
    }

  }
  