/* Variables globales */
:root{
	/* COLORES MIOS */
	--title-color: #fff;
	--negrita: #000;
}
/* Todas las letras en blanco */
*{
    color: var(--title-color);
}
/* Al pulsar a un botón, baja hasta la sección */
html{
    scroll-behavior: smooth;
}

.intro{
    padding: 25px;
}

.tipo_1,.tipo_2,.tipo_3 h2{
    padding: 25px;
}


/* PRUEBA */
.controlpanel {
    margin: 10px;
    border: 2px solid darkgrey;
    background-color: khaki;
    padding: 20px;
}
.quiz_panel {
    margin: 10px;
    border: 2px solid darkgrey;
    background-color: khaki;
    padding: 20px;
  }
  
  #feedback {
    border: 2px solid black;
    background-color: khaki;
      border-radius: 15%;
    width: 200px;
  }
  
  #score {
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-size: 24px;
    border-radius: 15%;
    float: right;
    width: 200px;
    margin:3px;
  }
  input {
    background-color: grey;
    border: 1px solid black;
  }


/*--------------- Reproductor: Video - Playlist ----------------------------
		EL VIDEO SALE A LA IZQUIERDA EN GRANDE Y A LA DERECHA SALE LA PLAYLIST
		CON UNA BARRA PARA SUBIR Y BAJAR 
**************************************************************************/
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: .5rem 1rem;

}

.container .main-video, .video-playlist{
    align-self: flex-start;
}
.container .main-video .title{
    margin: 15px;
    align-items: baseline;
    color: var(--title-color);
}

.container .main-video{
	height: auto;
	width: 100%;
	border-radius: 8px;
}

.container .video-playlist .title{
    margin: 15px;
    align-items: baseline;
    color: var(--title-color);
}


@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.main-video, .video-playlist {
    width: 100%;
    height: 30rem;
}

.main-video .title {
    margin-top: 1rem;
}



.video-playlist > p {
    padding: 1rem;
}

.video-playlist .videos{
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #000;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.5rem;
    height: 1.5rem;
    
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
   margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}



.container2 {
    width: 100vw;

    display: grid;
    /* grid-template-columns: 1.8fr 1.2fr; */
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 7px;
    padding: .5rem 1rem;
    text-transform: capitalize;
}

/* @media screen and (max-width: 1500px) {
    .container2 {
        grid-template-columns: 1fr;
    }
} */

@media screen and (min-width: 600px) {
    .container2 {
      position: relative;
    }
      
  .container2 .barra-seleccion .enlace-btn{
    position: absolute;
    width: 40%;
  }
}

/* BOTON*/
.container2 .barra-seleccion .enlace-btn{
    width: 210px;
    padding: 15px 25px;

    text-align: center;
    text-decoration: none;
    margin: 30 20px;
    border-radius: 30px;
    /* border: 2px solid #4BFFA5;*/
    color: rgb(18, 17, 17);
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    background-color: #4BFFA5;
    text-decoration: none;
}



.enlace-btn:hover{
    background-color: #000;
    color: #fff;
}


/* BOTON: Al ponernos encima, el color se rellena a verde
con una transición de izquierda a derecha*/
span{
    background: #4BFFA5;
    height: 100%;
    width: 0%;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.barra-seleccion .enlace-btn{
    width: 30px;
    padding: 30px 30;
    text-align: center;
    margin: 10px 10px;

}

