*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Calibri'; 
}
/* CABECERA: Fondo verde y centrada */
header{
    background-color: #4BFFA5;
    text-align: center;
    padding: 25px 0;
}

/* BARRA NAVEGACION: Letras grises, al pasar
el cursor sombreado negro redondeado */
nav a{
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}
nav a:hover{
    background-color: #000;
    color: #fff;
}



/* CABECERA: Imagen y titulo centrado */
.encabezado-img{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),
                    url(images/programa_musica_5184x3456.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    

}
.encabezado-content{
    width: 100%;
    position: absolute;
}
/* CABECERA: Tamaño parrafo */
.encabezado-img p{
    font-size: 20px;
}
/* CABECERA: Tamaño titulo (h1) con separación*/
.encabezado-img h1{
    font-size: 50px;
    padding: 20;
}

/* BOTON*/
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    border: 2px solid #4BFFA5;
    background: transparent; 
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* BOTON: Al ponernos encima, el color se rellena a verde
con una transición de izquierda a derecha*/
span{
    background: #4BFFA5;
    height: 100%;
    width: 0%;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

/* BOTON: Fondo transparente con marco verde*/
button:hover span{
    width: 100%;
}
button:hover{
    background-color: #4BFFA5;
    color: #696969;
}